/*------------------------------Index Bar (left)----------------------*/
.indexSidebar {
	background-color: lightblue;
	border: solid black 1px;
	border-radius: 7px;
	width: 19vw;
	height: 150px;
	display: flex;
	align-content: center;
	flex-direction: column;
	align-items: center;
	float: left;
}

.indexSidebar > h1 {
	margin-top: 15px;
}

.indexSidebar > ul > li {
	margin-top: 4px;
}

.indexSidebar > ul > li > a {
	text-decoration: none;
	color: black;
	font-size: 20px;

}

.indexSidebar > ul > li > a:hover {
	 text-decoration: underline;
}

/*------------------------------Main COntent----------------------*/

.mainBox {
	background-color: #ebbf46;
	width: 80vw;
	height: 150px;
	float: right;
	border: solid black 1px;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainBox > h1 {
	margin-top: 15px;
}

.mainBox > ul {
	list-style: none;
	margin-top: 15px;
	display: flex;
	flex-direction: ;
}

.mainBox > ul > li {
	margin-right: 10px;
	margin-left: 10px;
}

.mainBox > ul > li > a{
	color: black;
	background-color: white;
	border: solid black 1px;
	border-radius: 5px;
	padding: 2px 5px;
	text-decoration: none;
}

.mainBox > ul > li > a:hover{
	background-color: lightgray;
}