* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

nav {
	width: 100%;
	height: 85px;
	background-color: darkslategray;
	border-radius: 7px;
}

.navbarMainList {
	float: left;
}

.navbarMainList > li {
	float: left;
	list-style: none;
	position: relative;
}

.navbarMainList > li > a:not(#fpLogo) {
	font-size: 24px;
	text-decoration: none;
	padding: 28px;
	display: block;
	color: white;
}

.navbarMainList > li > a:hover:not(#fpLogo), .programList > li > a:hover {
	background-color: #1F2E2A;
	border-radius: 0 0 12px 12px;
	bottom: 10px;
}

.navbarMainList > li:hover > ul {
	display: block;
}

.programList {
	display: none;
	position: absolute;
	background-color: darkslategray;
	border-radius: 0 0 12px 12px;
}

.programList > li {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.programList > li > a {
	padding: 16px 20px;
	font-size: 18px;
	color: white;
	text-decoration: none;
	justify-self: stretch;
}

#fpLogo > img {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: 10px;
}