.mainBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.mainBody > .topBackground {
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url("../resources/frontpageBg.jpg"); /*Source: https://www.uhdpaper.com/2023/01/cat-sunset-city-scenery-anime-4k-860i.html*/
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;

	width: 80vw;
	height: 44vw;
}

.topText {
	display: flex;
	flex-direction: column;
    justify-content: space-evenly;
    align-content: center;

	width: 20vw;
	height: 44vw;
	background-color: black;
	color: white;
	font-size: 3vw;
	overflow: visible;
	white-space: nowrap;
	z-index: 1;
}

.topText > button {
	border: solid orange 1px;
	font-size: 1.8vw;
	border-radius: 7px;
	padding: 2vw;
	color: white;
	background-color: orange;

}

.topText > button:hover {
	background-color: darkorange;
}

.lowerBody {
    background-color: black;
    width: 74.5vw;
    height: 1000px;
    color: white;
    padding-left: 12vw;
    padding-right: 12vw;
}

#test {
	position: absolute;
	top: 1000px;
}