body {
	background-color: black;
}

.mainBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.mainBody > .topBackground {
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url("../resources/frontpageBg.jpg"); /*Source: https://www.uhdpaper.com/2023/01/cat-sunset-city-scenery-anime-4k-860i.html*/
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;

	width: 80vw;
	height: 44vw;
}

.topText {
	display: flex;
	flex-direction: column;
    justify-content: space-evenly;
    align-content: center;

	width: 20vw;
	height: 44vw;
	background-color: black;
	color: white;
	font-size: 3vw;
	overflow: visible;
	white-space: nowrap;
	z-index: 1;
}

.topText > p, .topText > button {
	margin-left: 1.5vw;
}

.topText > button {
	border: solid orange 1px;
	font-size: 1.8vw;
	border-radius: 7px;
	padding: 2vw;
	color: white;
	background-color: orange;

}

.topText > button:hover {
	background-color: darkorange;
}

.lowerBody {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("../resources/indexTextBackground.jpg");
	background-size: 750px;
    width: 80%;
    height: 1000px;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.lowerBody > .contentBox {
    background-color: black;
    height: 1000px;
}

.lowerBody > .contentBox > h1 {
	padding-top: 50px;
	text-decoration: underline;
	font-size: 30px;
}

.lowerBody > .contentBox > p {
	font-size: 18px;
}

.lowerBody > .contentBox > p > a {
	color: orange;
}

.lowerBody > .contentBox > p > a:hover {
	color: darkorange;
}

.lowerBody > .contentBox > ul {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 25px;
}

.lowerBody > .contentBox > ul > li > a {
	padding: 5px 20px;
	text-decoration: none;
	border-radius: 3px;

	color: white;
	background-color: orange;
}

.lowerBody > .contentBox > ul > li > a:hover {
	background-color: darkorange;
}