body {
	align-items: center;
	align-content: center;
	display: flex;
	flex-direction: column;
}

.programBox {
	height: 350px;
	padding: 20px;
	margin: 0px;
	width: 85vw;
	border: 1px solid black;
	background-color: lightblue;
	flex-direction: column;
	display: flex;
	align-items: center;
	align-content: center;
	border-radius: 7px;
}

.programBox h1 {
	margin-top: 0px;
	margin-bottom: 15px;
	text-decoration: underline;
	font-size: 32px;
}

.programBox > li {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programBox > li > a {
	text-decoration: underline;
	color: black;
	white-space: nowrap;
	position: relative;
	font-size: 20px;
}

.programBox > li > p {
	text-align: center;
	margin-top: 1px;
}

.programBox a:hover {
	font-weight: bold;
}