* {
    /* Size */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    /* Size */
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Color */
    color: var(--color-light-200);
    background-color: var(--color-dark-200);
}

body {
    overflow-x: hidden;
    overflow-y: overlay;
}

a {
    text-decoration: none;
}
