:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Variables */
  --color-dark-100: #1b1b1b;
  --color-dark-200: #242424;

  --color-light-100: #ffffff;
  --color-light-200: #fafafa;
  --color-light-300: #eaeaea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
